body{
  text-align: center;
  background-image: url(./background\ img.png);
}

.size{
width: 50%;
height: 50%;
}

@media only screen and (max-width: 1280px) {
  h1{
    font-size: 50px;
  }
.size{
  width: 80%;
  height: 80%;




}
}

.shadow{
color: #361604;
text-shadow: 3px 3px 3px #6e584b;
font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}

.Gold{
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 40px;
  letter-spacing: 2px;
  background-image:(
 to right,
 #462523 0,
        #cb9b51 22%, 
 #f6e27a 45%,
 #f6f2c0 50%,
 #f6e27a 55%,
 #cb9b51 78%,
 #462523 100%
 );
  color:transparent;
  
}

#nav-item-active{
  font-weight: bolder;
  font-size: larger;
}

#nav-item-active2{
  font-weight: bolder;
  font-size: larger;

}
